ParkingMaganer.Data/bin/Debug/*
ParkingMaganer.Data/obj/*
ParkingManager/.vs/ParkingManager/config/applicationhost.config
ParkingManager/.vs/ParkingManager/v17/.suo
ParkingManager/.vs/ParkingManager/DesignTimeBuild/.dtbcache.v2
ParkingManager/bin/Debug/net5.0/appsettings.Development.json
ParkingManager/bin/Debug/net5.0/appsettings.json
ParkingManager/bin/Debug/net5.0/Dapper.dll
ParkingManager/bin/Debug/net5.0/Microsoft.Extensions.Configuration.dll
ParkingManager/bin/Debug/net5.0/Microsoft.Extensions.Configuration.Abstractions.dll
ParkingManager/bin/Debug/net5.0/Microsoft.Extensions.Primitives.dll
ParkingManager/bin/Debug/net5.0/Newtonsoft.Json.Bson.dll
ParkingManager/bin/Debug/net5.0/Newtonsoft.Json.dll
ParkingManager/bin/Debug/net5.0/ParkingMaganer.Data.dll
ParkingManager/bin/Debug/net5.0/ParkingMaganer.Data.pdb
ParkingManager/bin/Debug/net5.0/ParkingManager.deps.json
ParkingManager/bin/Debug/net5.0/ParkingManager.dll
ParkingManager/bin/Debug/net5.0/ParkingManager.exe
ParkingManager/bin/Debug/net5.0/ParkingManager.pdb
ParkingManager/bin/Debug/net5.0/ParkingManager.runtimeconfig.dev.json
ParkingManager/bin/Debug/net5.0/ParkingManager.runtimeconfig.json
ParkingManager/bin/Debug/net5.0/ParkingManager.Views.dll
ParkingManager/bin/Debug/net5.0/ParkingManager.Views.pdb
ParkingManager/bin/Debug/net5.0/System.Data.SqlClient.dll
ParkingManager/bin/Debug/net5.0/System.Runtime.CompilerServices.Unsafe.dll
ParkingManager/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
ParkingManager/bin/Debug/net5.0/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
ParkingManager/bin/Debug/net5.0/runtimes/win-arm64/native/sni.dll
ParkingManager/bin/Debug/net5.0/runtimes/win-x64/native/sni.dll
ParkingManager/bin/Debug/net5.0/runtimes/win-x86/native/sni.dll
ParkingManager/obj/ParkingManager.csproj.nuget.dgspec.json
ParkingManager/obj/ParkingManager.csproj.nuget.g.props
ParkingManager/obj/ParkingManager.csproj.nuget.g.targets
ParkingManager/obj/project.assets.json
ParkingManager/obj/project.nuget.cache
ParkingManager/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
ParkingManager/obj/Debug/net5.0/apphost.exe
ParkingManager/obj/Debug/net5.0/ParkingManager.AssemblyInfo.cs
ParkingManager/obj/Debug/net5.0/ParkingManager.AssemblyInfoInputs.cache
ParkingManager/obj/Debug/net5.0/ParkingManager.assets.cache
ParkingManager/obj/Debug/net5.0/ParkingManager.csproj.AssemblyReference.cache
ParkingManager/obj/Debug/net5.0/ParkingManager.csproj.BuildWithSkipAnalyzers
ParkingManager/obj/Debug/net5.0/ParkingManager.csproj.CopyComplete
ParkingManager/obj/Debug/net5.0/ParkingManager.csproj.CoreCompileInputs.cache
ParkingManager/obj/Debug/net5.0/ParkingManager.csproj.FileListAbsolute.txt
ParkingManager/obj/Debug/net5.0/ParkingManager.dll
ParkingManager/obj/Debug/net5.0/ParkingManager.GeneratedMSBuildEditorConfig.editorconfig
ParkingManager/obj/Debug/net5.0/ParkingManager.genruntimeconfig.cache
ParkingManager/obj/Debug/net5.0/ParkingManager.MvcApplicationPartsAssemblyInfo.cache
ParkingManager/obj/Debug/net5.0/ParkingManager.pdb
ParkingManager/obj/Debug/net5.0/ParkingManager.RazorAssemblyInfo.cache
ParkingManager/obj/Debug/net5.0/ParkingManager.RazorAssemblyInfo.cs
ParkingManager/obj/Debug/net5.0/ParkingManager.RazorCoreGenerate.cache
ParkingManager/obj/Debug/net5.0/ParkingManager.RazorTargetAssemblyInfo.cache
ParkingManager/obj/Debug/net5.0/ParkingManager.RazorTargetAssemblyInfo.cs
ParkingManager/obj/Debug/net5.0/ParkingManager.TagHelpers.input.cache
ParkingManager/obj/Debug/net5.0/ParkingManager.TagHelpers.output.cache
ParkingManager/obj/Debug/net5.0/ParkingManager.Views.dll
ParkingManager/obj/Debug/net5.0/ParkingManager.Views.pdb
ParkingManager/obj/Debug/net5.0/project.razor.json
ParkingManager/obj/Debug/net5.0/Razor/Pages/Shared/_ValidationScriptsPartial.cshtml.g.cs
ParkingManager/obj/Debug/net5.0/Razor/Pages/_ViewImports.cshtml.g.cs
ParkingManager/obj/Debug/net5.0/Razor/Pages/_ViewStart.cshtml.g.cs
ParkingManager/obj/Debug/net5.0/Razor/Pages/Error.cshtml.g.cs
ParkingManager/obj/Debug/net5.0/Razor/Pages/Index.cshtml.g.cs
ParkingManager/obj/Debug/net5.0/Razor/Pages/Privacy.cshtml.g.cs
ParkingManager/obj/Debug/net5.0/Razor/Pages/Home/Index.cshtml.g.cs
ParkingManager/obj/Debug/net5.0/Razor/Pages/Login/Index.cshtml.g.cs
ParkingManager/obj/Debug/net5.0/Razor/Pages/Shared/_Layout.cshtml.g.cs
ParkingManager/obj/Debug/net5.0/ref/ParkingManager.dll
ParkingManager/obj/Debug/net5.0/refint/ParkingManager.dll
ParkingManager/obj/Debug/net5.0/staticwebassets/ParkingManager.StaticWebAssets.Manifest.cache
ParkingManager/.vs/ParkingManager/v17/.futdcache.v1
ParkingManager/obj/Container/ContainerDevelopmentMode.cache
ParkingManager/obj/Container/ContainerId.cache
ParkingManager/obj/Container/ContainerName.cache
ParkingManager/obj/Container/ContainerRunContext.cache
